html {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(246, 246, 152);
  flex-direction: column;

}

.boxes {
  display: inline-flex;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
}

.box {
  width: 90px;
  height: 90px;
  
  margin: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: 1px solid black;
}
