html {
  box-sizing: border-box;
}
:root {
  --hover-color: green;
  --bg-color-blk: black;
  --text-white: white;
  --complete-color: rgb(0, 255, 21);
  --active-color: rgb(59, 59, 229);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  /* font-size: 62.5%; */
  position: relative;
}
