.slider {
  margin: 1.5rem 0;
}

.slider__title {
  font-size: 1rem;
  font-style: bold;
  font-weight: 700;
}
.slider__heading {
  margin: 1rem 0;
}

.slider__heading {
  display: flex;
  justify-content: space-between;
}

.slider__range {
  width: 100%;
}
