.image-slider {
  width: 400px;
  height: 400px;
  background-color: rgb(228, 140, 140);
  margin: 0 auto;
  position: relative;
}

.image-slider__dots {
  background-color: green;
}

.image-slider__pagination-dots {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}

.image-slider__dots {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  font-size: 12px;
  padding: 6px;
  background-color: gray;
}
.image:hover {
  cursor: pointer;
}
.image-slider__dots.active {
  background-color: white;
}

.image-slider__actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-slider__left-arrow,
.image-slider__right-arrow {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider__left-arrow:active,
.image-slider__right-arrow:active {
  background-color: var(--btn-secondary-color);
}

.image-slider__image {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.image-slider__image.hidden {
  display: none;
}
